body {
    padding: 0;
    margin: 0;
    background: url(../images/bg.png) 0 0;
    background-position: center;
    width: 1536px;
    height: 700px;
}

#bird {
    background: url(../images/bird.png);
    width: 184px;
    height: 184px;
    position: absolute;
    top: 250px;
    left: 1350px;
    animation: bird 0.3s steps(5) infinite;
    transition: 4s;
    z-index: 30;
    visibility: hidden;
}

#instuctions {
    z-index: 20;
    color: black;
    position: absolute;
    left: 260px;
    top: 50px;
    font-size: 40px;
    font-weight: 600;
}

#gn {
    z-index: 20;
    color: black;
    position: absolute;
    left: 260px;
    top: -80px;
    font-size: 40px;
    font-weight: 600;
    animation-delay: 4s;
    transition: 1s;
    /* visibility: hidden; */
    transition-delay: 4s;
    
}

#dog {
    background: url(../images/dog/run.png);
    width: 157.8571428571429px;
    height: 110px;
    position: absolute;
    top: 650px;
    left: 414px;
    animation:  0.3s steps(21) infinite;
    transition: 10s;
}
#boy {
    background: url(../images/indonesian/run.png) 0 0 no-repeat;
    width: 134px;
    height: 200px;
    position: absolute;
    top: 560px;
    left: 250px;
    animation:  0.7s steps(8) infinite;
    transition: 4s;
}
#fire {
    background: url(../images/fire.png) 0 0 no-repeat;
    width:194.3333333333333px;
    height: 198px;
    position: absolute;
    top: 531px;
    left: 17px;
    animation: burn 0.5s steps(3) infinite;
    z-index: 10;
    transform: scale(1.5,1.5);
}
#bg-fire {
    background: url(../images/bg-fire.png) 0 0 no-repeat;
    width:179px;
    height: 198px;
    position: absolute;
    top: 573px;
    left: 17px;
   
}

#tent{
    background: url(../images/tent.png) 0 0 no-repeat;
    width:486px;
    height: 300px;
    position: absolute;
    top: 430px;
    left: 1000px;
}




@keyframes boyRun {
    from {background-position: 0 0;}
    to {background-position: -1084px 0}
}
@keyframes dogRun {
    from {background-position: 0 0;}
    to {background-position: -3315px 0}
}
@keyframes burn {
    from {background-position: 0 0;}
    to {background-position: -583px 0;}
  }
@keyframes bird {
  from {background-position: 0 0;}
 to {background-position: -920px 0;}
  }